


.h-70 {
    height: 280px;
}


.slide {
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1 !important;
}


#mobile-menu {
    transition: all 0.3s ease;
}


input:focus, textarea:focus {
    box-shadow: 0 0 0 3px rgba(233, 30, 99, 0.1);
}